@{

}

<h2 class="text-center">@ViewBag.Name</h2>
<div class="row">
    <div class="col-md-4">
    @if (ViewBag.IsBlogger)
    {
       @Html.Partial("Calendar");
    }
         

    </div>
    <div class="col-md-4">
        <h3>@Html.Raw(ViewBag.Image)</h3>
        <div style="display: grid; grid-template-columns: 1fr 1fr 1fr; grid-gap: 5px; justify-content: center;">
            @foreach (var img in ViewBag.Images)
            {@Html.Raw(@img)}
        </div>
    </div>

    <div class="col-md-4">
        <p>Information:</p>
        <p>Subscribers: @ViewBag.Sub </p>
        <p>BIO: @ViewBag.Bio </p>
        <p>Reviews: </p>
    </div>
</div>
@if (ViewBag.Email != null)
{
    <div class="row">
        <div class="col text-success">(Registrated) Email: @ViewBag.Email</div>
    </div>

}
