<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Marketplace", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                @if (Request.IsAuthenticated)
                {
                    @Html.ActionLink("Chats", "Index", "Chat", new { area = "" }, new { @class = "navbar-brand" })
                }
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        @using (Html.BeginForm("Index", "IGUser", FormMethod.Get))
                        {
                            <div class="input-group mb-3 search-bar">
                                <input type="text" class="form-control" name="user" placeholder="Type instargam nickname.." aria-label="Type instargam nickname..">
                                <div class="input-group-append">
                                    <input class="btn btn-outline-primary" type="submit" value="Search">
                                </div>
                            </div>
                        }
                    </li>
                </ul>
                


                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
