@using Microsoft.AspNet.Identity;
@model MarketplaceV1.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>@User.Identity.GetUserName()</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
        <dt>Email:</dt>
        <dd>
            [
            
                @Html.ActionLink("Change your email", "ChangeEmail")
            
            ]
        </dd>

        <dt>Became a blogger!</dt>
        <dd>
            [
            @if (ViewBag.nickname != "" && ViewBag.nickname != null)
            {

                <a href="@Url.Action("Index","IGUser")?user=@ViewBag.nickname">My account</a>
                <span>][</span>
                @Html.ActionLink("Stop being blogger", "StopBeingBlogger")

            }
            else
            {

                @Html.ActionLink("Become blogger", "BecomeBlogger")

            }
            ]
        </dd>


    </dl>
</div>
